# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=thisisasecretkey

# MongoDB connection string for connecting to the database
MONGODB_URL=mongodb+srv://shailendragour741:z2sxDVqlFKK644A2@cluster0.kkh7ki3.mongodb.net/?retryWrites=true&w=majority

# Hostname of the mail server used for sending emails
MAIL_HOST=

# Username of the email account used for sending emails
MAIL_USER=

# Password of the email account used for sending emails
MAIL_PASS=